{% extends 'jsDashboard/base.html' %}
{% block title %} Static Dashboard {% endblock %}

{% block css %} 

{% endblock %}

{% block content %}
<div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Dashboards</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-2">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Users
                        </div>
                        <div class="panel-body">
                            <div id="icon-panel-div">
								<p class="lead text-center"><i class="fa fa-users fa-5x"></i></p>
								<p class="text-center"><h2><a href="/dboard/users">Users <br/><small>Guests</small></a></h2></p>
                            </div>
                        </div>
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-2 -->
				<div class="col-lg-2">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Customers
                        </div>
                        <div class="panel-body">
                            <div id="icon-panel-div">
								<p class="lead text-center"><i class="fa fa-bitcoin fa-5x"></i></p>
								<p class="text-center"><h2><a href="/dboard/customers">Customers <br/><small>Paid Users</small></a></h2></p>
                            </div>
                        </div>
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-2 -->
                <div class="col-lg-2">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Data
                        </div>
                        <div class="panel-body">
                            <div id="icon-panel-div">
								<p class="lead text-center"><i class="fa fa-file-text fa-5x"></i></p>
								<p class="text-center"><h2><a href="/dboard/data">Data <br/><small>Secret sauce</small></a></h2></p>
                            </div>
                        </div>
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-2 -->
                <div class="col-lg-2">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Marketing
                        </div>
                        <div class="panel-body">
                            <div id="icon-panel-div">
								<p class="lead text-center"><i class="fa fa-signal fa-5x"></i></p>
								<p class="text-center"><h2><a href="/dboard/marketing">Marketing <small>Expansion</small></a></h2></p>
                            </div>
                        </div>
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-2 -->
                <div class="col-lg-2">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Traffic
                        </div>
                        <div class="panel-body">
                            <div id="icon-panel-div">
								<p class="lead text-center"><i class="fa fa-google fa-5x"></i></p>
								<p class="text-center"><h2><a href="/dboard/analytics">Analytics <br/><small>Traffic</small></a></h2></p>
                            </div>
                        </div>
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-2 -->
                <div class="col-lg-2">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Social
                        </div>
                        <div class="panel-body">
                            <div id="icon-panel-div">
								<p class="lead text-center"><i class="fa fa-share-alt fa-5x"></i></p>
								<p class="text-center"><h2><a href="/dboard/social">Social <br/><small>PR</small></a></h2></p>
                            </div>
                        </div>
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-2 -->
            </div>
            <!-- /.row -->
            <div class="row">
				<div class="col-lg-2">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Strategy
                        </div>
                        <div class="panel-body">
                            <div id="icon-panel-div">
								<p class="lead text-center"><i class="fa fa-cubes fa-5x"></i></p>
								<p class="text-center"><h2><a href="/dboard/strategy">Strategy <br/><small>Roadmap</small></a></h2></p>
                            </div>
                        </div>
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-2 -->
                
				<div class="col-lg-2">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Development
                        </div>
                        <div class="panel-body">
                            <div id="icon-panel-div">
								<p class="lead text-center"><i class="fa fa-trello fa-5x"></i></p>
								<p class="text-center"><h2><a href="/dboard/development">Development <br/><small>Repos</small></a></h2></p>
                            </div>
                        </div>
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-2 -->
                
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
{% endblock %}

{% block js %} 

{% endblock %}
